.DS_Store
.env
.venv/
__pycache__/
*.pyc
demos/sspu-oauth-demo/local-ca-bundle.pem
demos/oauth-local-demo/local-ca-bundle.pem
demos/oidc-local-demo/local-ca-bundle.pem

*/.env
artifacts
release

mobile/android/app

CLAUDE.md
AGENTS.md
build

# 避免提交的文件夹
miniprogram_npm
node_modules
.vscode

# 避免提交的文件
project.private.config.json
yarn.lock
yarn-error.lock
