<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Ksuser安全</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>用于实时识别登录、账号安全和恢复授权二维码，相机画面不会保存或上传。</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>cn.ksuser.auth.qq</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent$(KSUSER_QQ_APP_ID)</string>
				<string>$(KSUSER_QQ_HEX_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>tim</string>
		<string>mqqopensdknopasteboard</string>
		<string>mqqopensdknopasteboardios16</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>KSUSER_API_BASE_URL</key>
	<string>$(KSUSER_API_BASE_URL)</string>
	<key>KSUSER_PASSKEY_RP_ID</key>
	<string>$(KSUSER_PASSKEY_RP_ID)</string>
	<key>KSUSER_IOS_UPDATE_URL</key>
	<string>$(KSUSER_IOS_UPDATE_URL)</string>
	<key>KSUSER_QQ_APP_ID</key>
	<string>$(KSUSER_QQ_APP_ID)</string>
	<key>KSUSER_QQ_UNIVERSAL_LINK</key>
	<string>$(KSUSER_QQ_UNIVERSAL_LINK)</string>
	<key>KSUSER_APP_STORE_ID</key>
	<string>$(KSUSER_APP_STORE_ID)</string>
	<key>KSUSER_ICP_NUMBER</key>
	<string>$(KSUSER_ICP_NUMBER)</string>
</dict>
</plist>
